//==============================================================================
// BLANK CONFIGURATIONS
//==============================================================================

// Global scope, Namespacing & CSS https : //medium.com/front-end-development/681bda44c43e
// if you don't want a namespace just add "."
$namespace                               : ".b-" !default;

// PROJECT OPTIONS
// -----------------------------------------------------------------------------

$print                                   : true  !default;
$MQ                                      : true  !default;





// TYPOGRAPHY
// -----------------------------------------------------------------------------

$helvetica                               : Helvetica, Arial, sans-serif;
$helvetica-neue                          : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", $helvetica;
$georgia                                 : Georgia, Cambria, "Times New Roman", Times, serif;
$lucidia-grande                          : "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$verdana                                 : Verdana, Geneva, sans-serif;
$monospace                               : "source code pro","droid sans mono", menlo, Inconsolata, monaco, consolas, 'andale mono', 'lucida console', monospace, monospace;

$font-stack                              : $helvetica-neue ;
$basefont                                : 16px;
$lineheight                              : 1.5;
$verticalspace                           : $basefont * $lineheight;





// GRID SETTINGS
// -----------------------------------------------------------------------------

$grid-columns                            : 12;
$grid-gutter                             : 20px; // Will be converted to %





// MQ SETTINGS
// -----------------------------------------------------------------------------

// These are in Pixels, wil be converted to ems by Sass
$mq-large                                : 1200;
$mq-medium                               : 760;
$mq-small                                : 480;





// DEBUG
// -----------------------------------------------------------------------------

$debug-mode                              : false !default;


