// Alerts
//
//
//
// Markup:
// <div class="bl-alert {$modifiers}"> Alert </div>
//
// .bl-alert--default - default
// .bl-alert--info - info
// .bl-alert--success - success
// .bl-alert--error - error


//==============================
// $ALERT VARIABLES
//==============================

// Alert only related Variables


//==============================
// $ALERT MODULE
//==============================

.bl-alert{
    padding: .5em 1em;
    @include rem(margin-bottom, $verticalspace);
    border-style: solid;
    border-width: 1px;
    position: relative;
}

.bl-alert--default{
    color: $default;
    background-color: lighten($default, 50%);
    border-color: $default;
}

.bl-alert--success{
    color: $success;
    background-color: lighten($success, 50%);
    border-color: $success;
}

.bl-alert--error{
    color: $error;
    background-color: lighten($error, 50%);
    border-color: $error;
}

.bl-alert--info{
    color: $info;
    background-color: lighten($info, 50%);
    border-color: $info;
}
