// Buttons
//
// Styling for buttons
//
// Markup:
// <a href="#" class="bl-btn {$modifiers}"> link </a>
// <button class="bl-btn {$modifiers}"> Button </button>
// <input type="submit" class="bl-btn {$modifiers}" value="input">
//
// .bl-btn--primary - Primary button styling
// .bl-btn--secondary - Secondary button styling
//
// Styleguide 6

//==============================
// $BUTTON VARIABLES
//==============================
$btnPadding: 1em;
$btnRoundedRadius: .2em;

//==============================
// $BUTTON MODULE
//==============================


.bl-btn {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius:0; // remove border radius in iOS from input[submit]
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: $btnPadding/2 $btnPadding;
    line-height: normal;
    text-decoration: none;
    @include vendor(transition, "all 100ms linear");

    @include mq($mq-medium){
        width: 100%;
    }

    @include mq($mq-large, true){
        width: auto;
    }
}

.bl-btn--full{
    width: 100%;
}

.bl-btn--large{
    font-size: 150%;
}

.bl-btn--small{
    font-size: 50%;
}

.bl-btn--pill{
    border-radius: 100px;
}

.bl-btn--rounded{
    border-radius: $btnRoundedRadius;
}


//
// Button variations generated by a Sass loop for easier maintaince.
//
//

$btns: primary, secondary;
$btnBgColors: $btn-primary-bg, $btn-secondary-bg;
$btnTextColors: $btn-primary-text, $btn-secondary-text;

@each $btn in $btns{
    $i: index($btns, $btn);

    .bl-btn--#{$btn}{
        background-color: nth($btnBgColors, $i);
        color: nth($btnTextColors, $i);

        &:hover,
        &:focus{
            background-color: lighten(nth($btnBgColors, $i), 50%);
            color: lighten(nth($btnTextColors, $i), 50%);
        }
    }
}

// Buttons with icons
//
// Buttons with Icons
//
// Markup:
// <a href="#" class="bl-btn {$modifiers}"> <i class="bl-btn__icon"></i>link </a>
// <button class="bl-btn {$modifiers}"> <i class="bl-btn__icon"></i> Button </button>
// <input type="submit" class="bl-btn bl-btn--icon {$modifiers}" value="input">
//
// .bl-btn__icon
// .bl-btn--icon for input[submit] only
//
// styleguide 6.1

$icons: twitter, facebook, rss;

@each $icon in $icons{
    .bl-btn--icon--#{$icon},
    .bl-btn__icon--#{$icon}{
        background-image: url(../img/#{$icon}.png);
    }
}

.bl-btn--icon,
.bl-btn__icon{
    background-image: url(http://placehold.it/16x16);
}

.bl-btn--icon{
    padding-left: $btnPadding*2.5;
    background-repeat: no-repeat;
    background-position: $btnPadding 50%;
}

.bl-btn__icon{
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -.2em;
    margin-right: .5em;
}


// Buttons Group
//
// Buttons Group
//
// Markup:
// <div class="bl-btn-group">
// <a href="#" class="bl-btn bl-btn--icon {$modifiers}"> link </a>
// <button class="bl-btn bl-btn--icon {$modifiers}"> Button </button>
// <input type="submit" class="bl-btn bl-btn--icon {$modifiers}" value="input">
// </div>
//
// .bl-btn-group
//
// styleguide 6.2

//==============================
// $Button group variables
//==============================
$btnGroupOuterRadius: 5px;
$btnGroupInnerRadius: 2px;


.bl-btn-group{
    @include rem(margin-bottom, $verticalspace);
    @include mq($mq-large){
        margin-right: $btnPadding;
        &:only-of-type{
            margin-right: 0;
        }
    }

    list-style:none;
    margin-left:0;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;

    .opera:-o-prefocus,
    & {
        word-spacing: -0.43em;
    }

    > .bl-btn{
        @include mq($mq-medium){
            display:inline-block;
        }

        letter-spacing: normal;
        word-spacing: normal;
        text-rendering: auto;
    }
}

.bl-btn-group--spaced{
    > .bl-btn{
        margin-bottom: $btnPadding;

        &:last-child{
            margin-bottom: 0;
        }
    }

    @include mq($mq-large){
        > .bl-btn{
            margin-right: $btnPadding;
            margin-bottom: 0;

            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.bl-btn-group--round{
    border-radius: $btnGroupOuterRadius;

    > .bl-btn{
        &:first-child{
            border-radius: $btnGroupInnerRadius 0 0 $btnGroupInnerRadius;
        }

        &:last-child{
            border-radius: 0 $btnGroupInnerRadius $btnGroupInnerRadius 0;
        }
    }
}
