// Images
//
// Images styling
//
// Markup:
// <img class="{$modifiers}" src="http://placehold.it/300/300">
//
//
//
// Styleguide 12

//==============================
// $Images
//==============================

$roundedRadius: 50%;

.bl-img{
}

.bl-img--rounded{
    border-radius: $roundedRadius;
}

.bl-img--polaroid{
    padding: 1em;
    background-color: #fff;
    border: 1px solid $color-text;
}
