//==============================
// $BLANK CONFIGURATIONS
//==============================


//==============================
// $PROJECT OPTIONS
//==============================

$rtl: false !default;
$print: true !default;

$IE: false !default;
//==============================
// $TYPOGRAPHY BASICS
//==============================

$basefont:                16px;
$lineheight:              1.5;
$verticalspace:           $basefont * $lineheight;
$sans-serif:              "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
$serif:                   "Georgia", Times New Roman, Times, serif;
$monospace:               Inconsolata, monaco, consolas, 'andale mono', 'lucida console', monospace;

//==============================
// $GRID SETTINGS
//==============================

$grid-columns: 12;
$grid-gutter: 20px; // will be converted to %
$grid-width: 1000px; // Used to calculate the grid & "if wanted" to be used as max-width

//==============================
// $MQ SETTINGS
//==============================

// These are in Pixels, wil be converted to ems by SASS
// $mq-xlarge : ;
$mq-large :  1200;
$mq-medium:  760;
$mq-small :  480;

// For retina
// http://www.brettjankord.com/2012/11/28/cross-browser-retinahigh-resolution-media-queries/
$mq-retina-125: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";
$mq-retina-13 : "(-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi)";
$mq-retina-15 : "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)";
$mq-retina-2   : "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";


//==============================
// $DEBUG
//==============================

$debug-mode: false !default;
