//==============================
// $BLANK CONFIGURATIONS
//==============================


//==============================
// $PROJECT OPTIONS
//==============================

$rtl: false !default;
$print: true !default;

$IE: false !default;
//==============================
// $TYPOGRAPHY BASICS
//==============================

$helvetica-neue: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
$helvetica: Helvetica,Arial,sans-serif;
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$lucidia-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$verdana: Verdana, Geneva, sans-serif;
$monospace: Inconsolata, monaco, consolas, 'andale mono', 'lucida console', monospace;

$font-stack: $helvetica-neue;
$basefont: 16px;
$lineheight: 1.5;
$verticalspace: $basefont * $lineheight;

//==============================
// $GRID SETTINGS
//==============================

$grid-columns: 12;
$grid-gutter: 20px; // will be converted to %
$grid-width: 1000px; // Used to calculate the grid & "if wanted" to be used as max-width

//==============================
// $MQ SETTINGS
//==============================

// These are in Pixels, wil be converted to ems by SASS
// $mq-xlarge : ;
$mq-large :  1200;
$mq-medium:  760;
$mq-small :  480;


//==============================
// $DEBUG
//==============================

$debug-mode: false !default;
