//==============================================================================
// COLORS
//==============================================================================

// Base colors
$color-text         : #444;
$color-bg           : #fff;





