//==============================================================================
//  GENERIC HELPER CLASSES & PLACEHOLDERS
//==============================================================================

.h-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



.h-break {
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}



.h-ellipsis {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.h-ir,
%h-ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    border: 0;
}



.h-show {
    display: block !important;
}



.h-hide {
    display: none !important;
}



.h-inline-center {
    text-align: center;
}



.h-inline-end {
    text-align: right;
}



.h-inline-start {
    text-align: left;
}




.h-f-start {
    float: left;
}



.h-f-end {
    float: right;
}



.h-f-none {
    float: none;
}



.h-dir-left {
    direction: ltr;
}



.h-dir-right {
    direction: rtl;
}



.h-flat-top {
    margin-top: 0;
}



.h-flat-bottom {
    margin-bottom: 0;
}



.h-flat-right {
    margin-right: 0;
}



.h-flat-left {
    margin-left: 0;
}



.h-clearfix,
%h-clearfix{
    &:after{
        content:"";
        display:table;
        clear: both;
    }
}



