//==============================================================================
// Componenet dependences & settings
//==============================================================================

$linkColor: navyblue;





/*==============================================================================
Links

Links styling

Markup:
<a href="#" class="{$modifiers}"> Link </a>

:visited - visited state
:hover   - Hover state
:focus   - focus state
:active  - active state
==============================================================================*/

a {
    -webkit-tap-highlight-color: rgba(black, 0);
    text-decoration: none;
    color: $linkColor;

    &:visited {
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:focus {
        outline: thin dotted;
        outline-offset: -5px;
    }

    &:active {
        outline: 0;
    }
}
