//==============================================================================
// Componenet dependences & settings
//==============================================================================

$linkColor: navyblue;





/*==============================================================================
[Un]Ordered lists

Markup:
<ol|ul class="{$modifiers}">
 <li>item1</li>
 <li>item2</li>
 <ol|ul>
      <li>nested item1</li>
      <li>nested item2</li>
 </ol|ul>
</ol|ul>

.#{$namespace}list--reset - can be added on ordered or unordered lists to reset it's styling.
==============================================================================*/

ul,
ol {
    @include rem(margin-bottom, $verticalspace);
}

ol {
    list-style: decimal;
}



ul {
    list-style: square;
}



ul,
ol {
    padding-left: 1em;

    ol,
    ul {
        margin: .5em 0 .5em .5em;
    }
}



li {
    line-height: $lineheight;
}




.#{$namespace}list--reset {
    list-style: none;
    padding: 0;
    margin: 0;
}





/*==============================================================================
Definition lists

Markup:
<dl>
  <dt>Definition term<dt>
  <dd> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, saepe, ab quo obcaecati a rerum quis quod vel autem nam maxime temporibus magni unde et nulla molestias veniam libero explicabo. </dd>
</dl>
==============================================================================*/

dl,
dd {
    @include rem(margin, 0 0 $verticalspace);
}



dt {
    font-weight: bold;
}




dt,
dd {
    > :last-child,
    > :last-child > :last-child {
        margin-bottom: 0;
    }
}


