// Grid
//
// Fully fluid 12 columns Grid based on 960 but can be anything.
//
// Markup:
// <div class="bl-g">
//     <div class="bl-g__u bl-g__u--{n}">
//        <div> contnet </div>
//     </div>
// </div>
//
// Styleguide 1.0

//==============================
// $GRID
//==============================

.bl-g{
    list-style: none;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
    text-align: justify; //@NOTE: to fix rounding on iPhone/iPad needs more investigation
    margin-left: -0.5 * $grid-gutter;
    margin-right: -0.5 * $grid-gutter;

    // > .bl-g {
    //     margin: 0;
    // }
}

.opera:-o-prefocus,
.bl-g{
    word-spacing: -0.43em;
}

.bl-g__u{
    display: inline-block;
    width: 100%;
    text-align: left;
    @if $rtl {
        text-align: right;
    }
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    padding-left: 0.5 * $grid-gutter;
    padding-right: 0.5 * $grid-gutter;
}

.bl-g__u--centered{
    display: block;
    margin: 0 auto;
}


@include grid_widths();


@include mq($mq-medium){
    @include grid_widths(m);
}

@include mq($mq-large){
    @include grid_widths(l);
}
