//==============================================================================
// GRID
//==============================================================================

// Grid
//
// Fully fluid 12 columns Grid. `.b-grid` for padded grid add `.b-grid--pad`
//
// Markup:
// <div class="b-grid">
//     <div class="b-unit s-1-12--s s-1-12--m s-12-12--l">
//         <div> contnet </div>
//     </div>
//     <div class="b-unit s-1-12--s s-1-12--m s-12-12--l">
//         <div> contnet </div>
//     </div>
//     <div class="b-unit s-1-12--s s-1-12--m s-12-12--l">
//         <div> contnet </div>
//     </div>
//     <div class="b-unit s-1-12--s s-1-12--m s-12-12--l">
//         <div> contnet </div>
//     </div>
// </div>



$gutter: percentage( strip-units($grid-gutter) / strip-units($grid-width) ); // Percentage gutter

.b-grid{
    list-style: none;
    font-size: 0;
    text-align: left;
}



.b-grid--rev{
    text-align: right;
}



.b-grid--center{
    text-align: center;
}



.b-grid--pad{
    margin:0 -1 * $gutter/2;
    > .b-unit{
        padding: 0 $gutter/2;
        margin-bottom: $verticalspace;
    }
}



.b-grid--middle{
    > .b-unit{
        vertical-align: middle;
    }
}



.b-grid--bottom{
    > .b-unit{
        vertical-align: bottom;
    }
}




