// Grid
//
// Fully fluid 12 columns Grid. `.bl-g__u--{size| s | m | l}--{n of columns}`
// fixed gutters on large screens & percentage gutters on medium/small screens
//
// Markup:
// <div class="bl-g">
//     <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
//         <div> contnet </div>
//     </div>
//     <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
//         <div> contnet </div>
//     </div>
//     <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
//         <div> contnet </div>
//     </div>
//     <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
//         <div> contnet </div>
//     </div>
//     <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
//         <div> contnet </div>
//     </div>
//     <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
//         <div> contnet </div>
//     </div>
// </div>

//==============================
// $GRID SETUP
//==============================
// Grid widths setup

$gutter: percentage( strip-units($grid-gutter) / strip-units($grid-width) ); // Percentage gutter used on small devices

// Grid widths mixin with IE desktop fallback.
@mixin grid_widths($size-prefix: s){
    @for $i from 1 through $grid-columns {
        @if $IE {
            @if $size-prefix == l {
                .bl-g__u--l--#{$i}{
                    width: percentage($i/$grid-columns);
                }
            }
        } @else {
            .bl-g__u--#{$size-prefix}--#{$i}{
                width: percentage($i/$grid-columns);
            }
        }
    }
}

@mixin grid_helpers($option: null, $dir: left){
    @for $i from 1 through $grid-columns {
        .bl-g__u--#{$option}--#{$i}{
            @if $option == push {
                #{$dir}: percentage($i/$grid-columns);
            } @else {
                #{$dir}: -1 * percentage($i/$grid-columns);
            }
        }
    }
}
//==============================
// $GRID
//==============================

.bl-g{
    list-style: none;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
    text-align: left; //@NOTE: to fix rounding on iPhone/iPad, needs more investigation
    margin-left: -1 * $grid-gutter;

    // margin-left: -1 * $gutter;
    // @if $IE {
    //     margin-left: -1 * $grid-gutter;
    // }

    // @include mq($mq-medium){
    //     margin-left: -1 * $grid-gutter;
    // }
}

.bl-g--right{
    text-align: right;
}

.bl-g__u{
    display: inline-block;
    width: 100%;
    text-align: left;
    @if $rtl {
        text-align: right;
    }
    position: relative;
    vertical-align: top;
    letter-spacing: normal;
    text-rendering: auto;
    padding-left: $grid-gutter;

    // padding-left: $gutter;
    // @if $IE {
    //     padding-left: $grid-gutter;
    // }

    // @include mq($mq-medium){
    //     padding-left: $grid-gutter;
    // }
}

.bl-g__u--centered{
    display: block;
    margin: 0 auto;
}

@include grid_widths();


@include mq($mq-medium){
    @include grid_widths(m);
}

@include mq($mq-large, true){
    @include grid_widths(l);
}


@include grid_helpers(push);
@include grid_helpers(pull);

