// Grid
//
// Fully fluid 12 columns Grid. `.bl-g`
// fixed gutters on large screens & percentage gutters on medium/small screens
//
// Markup:
// <div class="bl-g">
//     <div class="bl-g__u w-1-4--l w-1-2--m w-full--s">
//         <div> contnet </div>
//     </div>
//     <div class="bl-g__u w-1-4--l w-1-2--m w-full--s">
//         <div> contnet </div>
//     </div>
//     <div class="bl-g__u w-1-4--l w-1-2--m w-full--s">
//         <div> contnet </div>
//     </div>
//     <div class="bl-g__u w-1-4--l w-1-2--m w-full--s">
//         <div> contnet </div>
//     </div>
// </div>

//==============================================================================
// $GRID SETUP
//==============================================================================
// Grid widths setup

$gutter: percentage( strip-units($grid-gutter) / strip-units($grid-width) ); // Percentage gutter used on small devices

//==============================================================================
// $GRID
//==============================================================================

.bl-g{
    list-style: none;
    font-size: 0;
    text-align: bidi(left);
}

.bl-g--rev{
    text-align: bidi(right);
}

.bl-g--center{
    text-align: center;
}

.bl-g--pad{
    margin:0 -1 * $gutter/2;
    > .bl-g__u{
        padding: 0 $gutter/2;
    }
}

.bl-g--middle{
    > .bl-g__u{
        vertical-align: middle;
    }
}

.bl-g--bottom{
    > .bl-g__u{
        vertical-align: bottom;
    }
}

.bl-g__u{
    display: inline-block;
    @include rem(font-size, $basefont);
    width: 100%;
    text-align: bidi(left);
    position: relative;
    vertical-align: top;
}

.bl-g__u--centered{
    display: block;
    margin: 0 auto;
}


//==============================================================================
// $Sizes
//==============================================================================


.s-full{
    width: 100%;
}

@if $IE{
    @include sizes(l);
} @else {
    @include sizes(s);
    @include mq($mq-medium){
        @include sizes(m);
    }
    @include mq($mq-large){
        @include sizes(l);
    }
}

@include offsets(push);
@include offsets(pull);
