//==============================================================================
// GRID
//==============================================================================

// Grid
//
// Fully fluid 12 columns Grid. `.bl-grid` for padded grid add `.bl-grid--pad`
//
// Markup:
// <div class="bl-grid">
//     <div class="bl-unit s-1-12--s s-1-12--m s-12-12--l">
//         <div> contnet </div>
//     </div>
//     <div class="bl-unit s-1-12--s s-1-12--m s-12-12--l">
//         <div> contnet </div>
//     </div>
//     <div class="bl-unit s-1-12--s s-1-12--m s-12-12--l">
//         <div> contnet </div>
//     </div>
//     <div class="bl-unit s-1-12--s s-1-12--m s-12-12--l">
//         <div> contnet </div>
//     </div>
// </div>



$gutter: percentage( strip-units($grid-gutter) / strip-units($grid-width) ); // Percentage gutter

.bl-grid{
    list-style: none;
    font-size: 0;
    text-align: left;
}



.bl-grid--rev{
    text-align: right;
}



.bl-grid--center{
    text-align: center;
}



.bl-grid--pad{
    margin:0 -1 * $gutter/2;
    > .bl-unit{
        padding: 0 $gutter/2;
    }
}



.bl-grid--middle{
    > .bl-unit{
        vertical-align: middle;
    }
}



.bl-grid--bottom{
    > .bl-unit{
        vertical-align: bottom;
    }
}




