//==============================================================================
// GRID
//==============================================================================

// Grid
//
// Fully fluid 12 columns Grid. `.bl-g`
//
// Markup:
// <div class="bl-g">
//     <div class="bl-g__u w-1of12--l w-1of12--m w-full--s">
//         <div> contnet </div>
//     </div>
//     <div class="bl-g__u w-1of12--l w-1of12--m w-full--s">
//         <div> contnet </div>
//     </div>
//     <div class="bl-g__u w-1of12--l w-1of12--m w-full--s">
//         <div> contnet </div>
//     </div>
//     <div class="bl-g__u w-1of12--l w-1of12--m w-full--s">
//         <div> contnet </div>
//     </div>
// </div>



$gutter: percentage( strip-units($grid-gutter) / strip-units($grid-width) ); // Percentage gutter

.bl-g{
    list-style: none;
    font-size: 0;
    text-align: bidi(left);
}



.bl-g--rev{
    text-align: bidi(right);
}



.bl-g--center{
    text-align: center;
}



.bl-g--pad{
    margin:0 -1 * $gutter/2;
    > .bl-g__u{
        padding: 0 $gutter/2;
    }
}



.bl-g--middle{
    > .bl-g__u{
        vertical-align: middle;
    }
}



.bl-g--bottom{
    > .bl-g__u{
        vertical-align: bottom;
    }
}



.bl-g__u{
    display: inline-block;
    @include rem(font-size, $basefont);
    width: 100%;
    text-align: bidi(left);
    position: relative;
    vertical-align: top;
}



.bl-g__u--centered{
    display: block;
    margin: 0 auto;
}





// SIZES
// -----------------------------------------------------------------------------

.s-full{
    width: 100%;
}



@if $IE{
    @include sizes(l);
} @else {
    @include sizes(s);
    @include mq($mq-medium){
        @include sizes(m);
    }
    @include mq($mq-large){
        @include sizes(l);
    }
}



@include ordering(push);
@include ordering(pull);


@include offsets();
