/*
Grid

Fully fluid 12 columns Grid based on 960 but can be anything. `.bl-g__u--{size| s | m | l}--{n of columns}`

Markup:
<div class="bl-g">
    <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
        <div> contnet </div>
    </div>
    <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
        <div> contnet </div>
    </div>
    <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
        <div> contnet </div>
    </div>
    <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
        <div> contnet </div>
    </div>
    <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
        <div> contnet </div>
    </div>
    <div class="bl-g__u bl-g__u--s--2 bl-g__u--m--2 bl-g__u--l--2">
        <div> contnet </div>
    </div>
</div>

Styleguide 1.0
*/

//==============================
// $GRID
//==============================

// Grid widths setup

$gutter-pct: percentage( n($grid-gutter) / n($grid-width) ); // Percentage gutter

@mixin grid_widths($size-prefix: s, $cols: $grid-columns){
    @if $IE{
        @for $i from 1 through $cols {
            .bl-g__u--l--#{$i}{
                width: percentage($i/$cols);
            }
        }
    } @else {
        @for $i from 1 through $cols {
            .bl-g__u--#{$size-prefix}--#{$i}{
                width: percentage($i/$cols);
            }
        }
    }
}

.bl-g{
    list-style: none;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
    text-align: justify; //@NOTE: to fix rounding on iPhone/iPad, needs more investigation
    margin-left: -0.5 * $gutter-pct;
    margin-right: -0.5 * $gutter-pct;

    .bl-g__u > &{
        margin-left: -$gutter-pct;
        margin-right: -$gutter-pct;

        .bl-g__u{
            padding-left: $gutter-pct;
            padding-right: $gutter-pct;
        }

    }
}

.bl-g--right{
    text-align: right;
}

.opera:-o-prefocus,
.bl-g{
    word-spacing: -0.43em;
}

.bl-g__u{
    display: inline-block;
    width: 100%;
    text-align: left;
    @if $rtl {
        text-align: right;
    }
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    padding-left: 0.5 * $gutter-pct;
    padding-right: 0.5 * $gutter-pct;
}

.bl-g__u--centered{
    display: block;
    margin: 0 auto;
}

@include grid_widths();


@include mq($mq-medium){
    @include grid_widths(m);
}

@include mq($mq-large){
    @include grid_widths(l);
}
