/*
Main Wrapper
*/


#{$namespace}wrapper {
    @include rem(max-width, $grid-width);
    margin-left: auto;
    margin-right: auto;
    padding:0 5%;

}





//==============================================================================
// MAIN HEADER & FOOTER
//==============================================================================

#{$namespace}header {

}



#{$namespace}footer {

}





