/*
Main Wrapper
*/


#{$namespace}wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}





//==============================================================================
// MAIN HEADER & FOOTER
//==============================================================================

#{$namespace}header {

}



#{$namespace}footer {

}





