.bl-wrapper{
    margin-left: auto;
    margin-right: auto;
    padding:0 5%;
    @include rem(max-width, $grid-width);
    @include mq($mq-large){
        padding: 0 2em;
    }
}



//==============================================================================
// LAYOUTS
//==============================================================================

/*body*/.bl-layout-a{
    main{
        width:100%;
        padding: $grid-gutter;
    }
}



/*body*/.bl-layout-b{
    main{
        float: none;
        width: 100%;
        padding: $grid-gutter;

        @include mq($mq-small){
            float: left;
            // width: percentage();
        }
    }

    .side{
        float: none;
        width: 100%;
        padding: $grid-gutter;

        @include mq($mq-small){
            float: right;
            // width: percentage();
        }
    }
}





//==============================================================================
// MAIN HEADER & FOOTER
//==============================================================================

.bl-header{

}



.bl-footer{

}





//==============================================================================
// PAGE SPECIFIFC
//==============================================================================

// .p-<pagename> for page specific styling


