//==============================================================================
//  WIDTH HELPERS
//==============================================================================

//
// To be used when a width is needed prefixed with .s-{n}of{total}-{prefix}
//

@mixin sizes($prefix: s, $cols: $grid-columns){
    @for $i from 1 through $cols{
        @for $k from 1 through $i - 1{
            .s-#{$k}-#{$i}--#{$prefix}{
                width: percentage($k/$i);
            }
        }
    }
}



//
// Support for pull & push so it can be used in the grid or anywhere.
//

@mixin ordering($option: null, $dir: left){
    @for $i from 1 through $grid-columns {
        .s-#{$option}-#{$i}-#{$grid-columns}{
            #{$dir}: if($option == push, percentage($i/$grid-columns) , -1 * percentage($i/$grid-columns));
        }
    }
}


//
// Offsets classes
//

@mixin offsets($dir: left){
    @for $i from 1 through $grid-columns {
        .s-offset-#{$i}-#{$grid-columns}{
            margin-#{$dir}: percentage($i/$grid-columns) ;
        }
    }
}
