//==============================================================================
// UNIT
//==============================================================================

// UNIT
//
// A generic component can be used with grid or separately
//
// Markup:
// <div class="b-unit">
//      [content...]
// </div>

.b-unit{
    display: inline-block;
    @include rem(font-size, $basefont);
    width: 100%;
    text-align: left;
    position: relative;
    vertical-align: top;
}



.b-unit--centered{
    display: block;
    margin: 0 auto;
}
