// Accrodions
//
// Accrodion, can be used with ul/ol too
//
// Markup:
// <dl class="bl-accordion">
//     <dt class="bl-accordion__title"> Title </dt>
//     <dd class="bl-accordion__contnet"> Content </dd>
// </dl>
//
// .bl-accrodion

//==============================
// $Component variables
//==============================

//==============================
// $ACCORDION COMPONENT
//==============================

.bl-accordion{
    @include rem(margin-bottom, $verticalspace);
}

.bl-accordion__title{
    padding: 1em;
    background-color: $theme-grey;
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: bold;

    > :last-child,
    > :last-child > :last-child {
        margin-bottom: 0;
    }

    .js &{
        cursor: pointer;
    }

    &.is-active,
    &:hover{
        background-color: $theme-blue;
        color: inherit;
    }
}

.bl-accordion__content{
    margin-bottom: 0;
    background-color: white;
    > div{
        padding: 1em;
    }

    > :last-child,
    > :last-child > :last-child {
        margin-bottom: 0;
    }

    .js &{
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        @include vendor( transition, 'opacity .5s ease-in-out, max-height .5s ease-in-out' );
    }

    &.is-active{
        opacity: 1;
        max-height: 9999em; //Hack to make it look like 100%
    }
}
