//==============================================================================
// ALERTS
//==============================================================================

// HELPER MIXINS
// -----------------------------------------------------------------------------

@mixin alert( $color ){
    color: $color;
    background-color: lighten($color, 50%);
    border-color: $color;
}





// Alerts
//
//
//
// Markup:
// <div class="bl-alert {$modifiers}"> Alert </div>
//
// .bl-alert--default - default
// .bl-alert--info - info
// .bl-alert--success - success
// .bl-alert--error - error



.bl-alert{
    display: block;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    position: relative;
    @include rem(margin-bottom, $verticalspace);

    > :last-child,
    > :last-child > :last-child {
        margin-bottom: 0;
    }
}



.bl-alert__header{
    @include rem(margin-bottom, $verticalspace);
}



.bl-alert__header,
.bl-alert__body{
    > :last-child,
    > :last-child > :last-child {
        margin-bottom: 0;
    }
}



.bl-alert--default{
    @include alert($default);
}



.bl-alert--success{
    @include alert($success);
}



.bl-alert--error{
    @include alert($error);
}



.bl-alert--info{
    @include alert($info);
}


