// Badges
//
// Badges
//
// Markup:
// <span class="bl-badge {$modifiers}"> 100 </span>
// <span class="bl-badge {$modifiers}"> DANGER! </span>
//
// .bl-badge--default - default
// .bl-badge--info - info
// .bl-badge--success - success
// .bl-badge--error - error


//==============================================================================
// $Component variables
//==============================================================================

//==============================================================================
// $BADGES COMPONENT
//==============================================================================

.bl-badge{
    font-size: 75%;
    @include rem(padding, 2px 4px);
    @include rem(border-radius, 3px);

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: bold;
}

.bl-badge--default{
    color: $default;
    background-color: lighten($default, 50%);
    border-color: $default;
}

.bl-badge--info{
    color: $info;
    background-color: lighten($info, 50%);
    border-color: $info;
}

.bl-badge--error{
    color: $error;
    background-color: lighten($error, 50%);
    border-color: $error;
}

.bl-badge--success{
    color: $success;
    background-color: lighten($success, 50%);
    border-color: $success;
}
