//==============================================================================
// BADGES
//==============================================================================

// HELPER MIXINS
// -----------------------------------------------------------------------------

@mixin badge( $color ){
    color: $color;
    background-color: lighten($color, 50%);
    border-color: $color;
}





// Badges
//
// Badges
//
// Markup:
// <span class="bl-badge {$modifiers}"> 100 </span>
// <span class="bl-badge {$modifiers}"> DANGER! </span>
//
// .bl-badge--default - default
// .bl-badge--info - info
// .bl-badge--success - success
// .bl-badge--error - error



.bl-badge{
    font-size: 75%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: bold;
    @include rem(padding, 2px 4px);
    @include rem(border-radius, 3px);
}



.bl-badge--default{
    @include badge($default);
}



.bl-badge--info{
    @include badge($info);
}



.bl-badge--error{
    @include badge($error);
}



.bl-badge--success{
    @include badge($success);
}


