// Box
//
// Generic container
//
// Markup:
// <div class="{$modifiers}">
//    Box
// </div>
//
// .bl-box - default
// .bl-box--large - large
// .bl-box--small - small

//==============================
// $Component variables
//==============================
$boxPadding: 1em;

//==============================
// $BOX COMPONENT
//==============================

%box{
    @include rem(margin-bottom, $verticalspace);
    border: 1px solid $color-text;
}

.bl-box{
    @extend %box;
    padding: $boxPadding;
}

.bl-box--large{
    @extend %box;
    padding: $boxPadding*2;
}

.bl-box--small{
    @extend %box;
    padding: $boxPadding/2;
}
