/*==============================================================================
 Box

 Generic container

 Markup:
 <div class="{$modifiers}">
    Box
 </div>

 #{$namespace}box - default
 #{$namespace}box--large - large
 #{$namespace}box--small - small
 ==============================================================================*/

%box {
    @include rem(margin-bottom, $verticalspace);
}



#{$namespace}box {
    @extend %box;
    padding: 1em;
}



#{$namespace}box--large {
    @extend %box;
    padding: 2em;
}



#{$namespace}box--small {
    @extend %box;
    padding: .5em;
}


