//==============================================================================
// BOX
//==============================================================================

// COMPONENT VARIABLES
// -----------------------------------------------------------------------------

$boxPadding: 1em;





// Box
//
// Generic container
//
// Markup:
// <div class="{$modifiers}">
//    Box
// </div>
//
// .b-box - default
// .b-box--large - large
// .b-box--small - small



%box{
    @include rem(margin-bottom, $verticalspace);
    border: 1px solid $color-text;
}



.b-box{
    @extend %box;
    padding: $boxPadding;
}



.b-box--large{
    @extend %box;
    padding: $boxPadding*2;
}



.b-box--small{
    @extend %box;
    padding: $boxPadding/2;
}


