//==============================================================================
// BREADCRUMBS
//==============================================================================

// Breadcrumbs
//
//
//
// Markup:
// <ol class="b-breadcrumbs">
// <li> <a href="#"> level 1</a> </li>
// <li> <a href="#"> level 2</a> </li>
// <li> you are here </li>
// </ol>
//
// .b-breadcrumbs



.b-breadcrumbs{
    list-style:none;
    margin-left:0;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;
    padding: 1em;
    line-height: normal;
    background-color: darken($color-bg, 10%);
    color: $color-text;
    @include rem(margin-bottom, $verticalspace);

    > li {
        display:inline-block;
        letter-spacing: normal;
        text-rendering: auto;
        margin-right: .5em;

        &:last-of-type{
            &:after{
                content: normal;
            }
        }

        &:after{
            content: " \005C ";
        }
    }
}


