//==============================================================================
// BUTTON
//==============================================================================

// COMPONENT VARIABLES
// -----------------------------------------------------------------------------

$btnPadding: 1em;
$btnRoundedRadius: .2em;
$btnGroupOuterRadius: 5px;
$btnGroupInnerRadius: 2px;




// Buttons
//
// Styling for buttons
//
// Markup:
// <a href="#" class="b-btn {$modifiers}"> link </a>
// <button class="b-btn {$modifiers}"> Button </button>
// <input type="submit" class="b-btn {$modifiers}" value="input">
//
// .b-btn--primary - Primary button styling
// .b-btn--secondary - Secondary button styling



.b-btn {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius:0; // remove border radius in iOS from input[submit]
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: $btnPadding/2 $btnPadding;
    line-height: normal;
    text-decoration: none;
    background-color: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 100ms linear;

    @include mq($mq-medium){
        width: auto;
    }
}



.b-btn--full{
    width: 100%;
}



.b-btn--large{
    font-size: 150%;
}



.b-btn--small{
    font-size: 50%;
}



.b-btn--pill{
    border-radius: 100px;
}



.b-btn--rounded{
    border-radius: $btnRoundedRadius;
}





//==============================================================================
// BUTTON VARIATIONS
//==============================================================================

$btns: primary, secondary;
$btncolor-bgs: $btn-primary-bg, $btn-secondary-bg;
$btncolor-texts: $btn-primary-text, $btn-secondary-text;

@each $btn in $btns{
    $i: index($btns, $btn);

    .b-btn--#{$btn}{
        background-color: nth($btncolor-bgs, $i);
        color: nth($btncolor-texts, $i);

        &:hover,
        &:focus{
            background-color: lighten(nth($btncolor-bgs, $i), 50%);
            color: lighten(nth($btncolor-texts, $i), 50%);
        }
    }
}



// Disbaled buttons
.b-btn--disabled,
[disabled],
[disabled="disabled"]{
    &,
    &:hover,
    &:active,{
        background-color: lighten(#444, 20%);
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
}



// Buttons with icons
//
// Buttons with Icons
//
// Markup:
// <a href="#" class="b-btn {$modifiers}"> <i class="b-btn__icon"></i>link </a>
// <button class="b-btn {$modifiers}"> <i class="b-btn__icon"></i> Button </button>
// <input type="submit" class="b-btn bl-btn--icon {$modifiers}" value="input">
//
// .b-btn__icon
// .b-btn--icon               - for input[submit] only



$icons: twitter, facebook, rss;

@each $icon in $icons{
    .b-btn--icon--#{$icon},
    .b-btn__icon--#{$icon}{
        background-image: url(../img/#{$icon}.png);
    }
}



.b-btn--icon,
.b-btn__icon{
    background-image: url(http://placehold.it/16x16);
}



.b-btn--icon{
    padding-left: $btnPadding*2.5;
    background-repeat: no-repeat;
    background-position: $btnPadding 50%;
}



.b-btn__icon{
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -.2em;
    margin-right: .5em;
}



// Buttons Group
//
// Buttons Group
//
// Markup:
// <div class="b-btn-group">
//    <a href="#" class="b-btn bl-btn--icon {$modifiers}"> link </a>
//    <button class="b-btn bl-btn--icon {$modifiers}"> Button </button>
//    <input type="submit" class="b-btn bl-btn--icon {$modifiers}" value="input">
// </div>
//
// .b-btn-group





.b-btn-group{
    @include rem(margin-bottom, $verticalspace);
    @include mq($mq-large){
        margin-right: $btnPadding;
        &:only-of-type{
            margin-right: 0;
        }
    }

    list-style:none;
    margin-left:0;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;

    > .b-btn{
        @include mq($mq-medium){
            display:inline-block;
        }

        letter-spacing: normal;
        text-rendering: auto;
    }
}



.b-btn-group--spaced{
    > .b-btn{
        margin-bottom: $btnPadding;

        &:last-child{
            margin-bottom: 0;
        }
    }

    @include mq($mq-large){
        > .b-btn{
            margin-right: $btnPadding;
            margin-bottom: 0;

            &:last-child{
                margin-right: 0;
            }
        }
    }
}



.b-btn-group--round{
    border-radius: $btnGroupOuterRadius;

    > .b-btn{
        &:first-child{
            border-radius: $btnGroupInnerRadius 0 0 $btnGroupInnerRadius;
        }

        &:last-child{
            border-radius: 0 $btnGroupInnerRadius $btnGroupInnerRadius 0;
        }
    }
}


