//==============================================================================
// IMAGES
//==============================================================================

// COMPONENT VARIABLES
// -----------------------------------------------------------------------------

$roundedRadius: 50%;

// Images
//
// Images styling
//
// Markup:
// <img class="{$modifiers}" src="http://placehold.it/300/300">
//
// .b-img--rounded - rounded
// .b-img--polaroid - polaroid



.b-img{
}



.b-img--rounded{
    border-radius: $roundedRadius;
}



.b-img--polaroid{
    padding: 1em;
    background-color: #fff;
    border: 1px solid $color-text;
}


