//==============================================================================
// MEDIA
//==============================================================================

// Media Object
//
// The media object based on http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
//
// Markup:
// <div class="b-media {$modifiers}">
//    <div class="b-media__figure">
//        <img src="http://placehold.it/150x150/bada55/000">
//    </div>
//    <div class="b-media__body">
//      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, quae, quidem, nam, suscipit assumenda voluptates laudantium nobis totam blanditiis iste laboriosam voluptas sapiente amet laborum debitis dolore consectetur enim ducimus.</p>
//    </div>
// </div>
//
// .b-media--rev - filps the image to the right



.b-media{
    @extend %h-clearfix;
}



.b-media__figure{
    float:left;
    @include rem(margin-right, $grid-gutter);

    > :last-child,
    > :last-child > :last-child {
        margin-bottom: 0;
    }

    .b-media--rev &{
        float: right;
        margin-right:0;
        @include rem(margin-left, $grid-gutter);
    }
}



.b-media__figure{
    > img{
        display:block;
    }
}



.b-media__body{
    display:table-cell;
    width:10000px;

    > :last-child,
    > :last-child > :last-child {
        margin-bottom: 0;
    }
}


