//==============================================================================
// NAV
//==============================================================================

// Nav Object
//
// Abstruction for the Nav http://csswizardry.com/2011/09/the-nav-abstraction/
//
// Markup:
// <ul class="bl-nav">
//      <li>
//          something
//      </li>
//      <li>
//          <a href="#"> link </a>
//      </li>
// </ul>
//
// .bl-nav


.bl-nav{
    list-style:none;
    margin-left:0;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;

    > li{
        @include mq($mq-medium){
            display:inline-block;
            vertical-align: top;
        }

        letter-spacing: normal;
        text-rendering: auto;
    }

    a{
    }
}





// Nav Bar
//
// Extends `.nav` to create a navigation bar
//
// Markup:
// <ul class="bl-list--reset bl-navbar">
//      <li>
//          <a href="#"> link </a>
//      </li>
//      <li>
//          <a href="#"> link </a>
//      </li>
// </ul>
//
// .bl-nav--bar



.bl-navbar{
    @include mq($mq-medium){
        display: table;
        width: 100%;
    };
}



.bl-navbar__item{
    display: block;
    position: relative;
    width: 100%;
    > a {
        text-align: center;
        display: block;
        padding: .5em 1em;
    }

    @include mq($mq-small){
        display: table-cell;
        width: auto;
    };
}





// Submenu class
//
// This class to be added on an element that you want it to have sub-menu
//
// Markup:
// <ul class="bl-list--reset bl-navbar">
//      <li>
//          something
//      </li>
//      <li class="bl-submenu">
//          <a href="#"> link </a>
//          <ul class="bl-list--reset bl-menu">
//              <li> <a href="#"> Submenu </a> </li>
//              <li> <a href="#"> Submenu </a> </li>
//          </ul>
//      </li>
// </ul>
//
// .bl-menu



.bl-submenu{
    .bl-menu{
        position: absolute;
        left: -9999px;
    }

    &:hover,
    &:focus{
        .bl-menu{
            left: 0;
            right: 0;
        }
    }
}





// Menu
//
// Vertical list of items can be used inside a navbar a submenu
//
// Markup:
// <ul class="bl-list--reset bl-menu">
//      <li>
//          something
//      </li>
//      <li>
//          <a href="#"> link </a>
//      </li>
// </ul>
//
// .bl-menu



.bl-menu{
    border: 1px solid;
}



.bl-menu__item{
    border-bottom: 1px solid;
    &:last-of-type{
        border-bottom: none;
    }

    > a {
        display: block;
        padding: .5em;
    }

}


