// Nav Object
//
// Abstruction for the Nav http://csswizardry.com/2011/09/the-nav-abstraction/
//
// Markup:
// <ul class="bl-nav">
//      <li>
//          something
//      </li>
//      <li>
//          <a href="#"> link </a>
//      </li>
// </ul>
//
// .bl-nav

//==============================
// $NAV MODULE
//==============================

.bl-nav{
    list-style:none;
    margin-left:0;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;

    > li{
        @include mq($mq-medium){
            display:inline-block;
        }

        letter-spacing: normal;
        text-rendering: auto;
    }

    a{
    }
}
