/*==============================================================================
 UNIT

 A generic component can be used with grid or separately

 Markup:
 <div class="b-unit">
      [content...]
 </div>
==============================================================================*/

#{$namespace}unit {
    @include rem(font-size, $basefont);
    font-size: ($basefont)\9; // IE8 & below hack cause they don't support rems & it's a must to reset the font size here.
    display: inline-block;
    width: 100%;
    position: relative;
    vertical-align: top;
}



#{$namespace}unit--centered {
    display: block;
    margin: 0 auto;
}
