//==============================================================================
// Componenet dependences & settings
//==============================================================================

$default            : #1c7285;
$success            : adjust-hue($default, 290);
$error              : adjust-hue($default, 170);
$info               : adjust-hue($default, 220);





/*==============================================================================
 Alerts



 Markup:
 <div class="b-alert {$modifiers}"> Alert </div>

 .#{$namespace}alert--default - default
 .#{$namespace}alert--info - info
 .#{$namespace}alert--success - success
 .#{$namespace}alert--error - error
 ==============================================================================*/

.#{$namespace}alert {
    @include rem(margin-bottom, $verticalspace);
    display: block;
    padding: 1em;
    border-style: solid;
    border-width: 1px;
    position: relative;

    > :last-child,
    > :last-child > :last-child {
        margin-bottom: 0;
    }
}



.#{$namespace}alert__header {
    @include rem(margin-bottom, $verticalspace);
}



.#{$namespace}alert__header,
.#{$namespace}alert__body {
    > :last-child,
    > :last-child > :last-child {
        margin-bottom: 0;
    }
}



.#{$namespace}alert--default {
    color: $default;
    background-color: lighten($default, 50%);
    border-color: $default;
}



.#{$namespace}alert--success {
    color: $success;
    background-color: lighten($success, 50%);
    border-color: $success;
}



.#{$namespace}alert--error {
    color: $error;
    background-color: lighten($error, 50%);
    border-color: $error;
}



.#{$namespace}alert--info {
    color: $info;
    background-color: lighten($info, 50%);
    border-color: $info;
}


