//==============================================================================
// Componenet dependences & settings
//==============================================================================

$default            : #1c7285;
$success            : adjust-hue($default, 290);
$error              : adjust-hue($default, 170);
$info               : adjust-hue($default, 220);





/*==============================================================================
 Badges

 Badges

 Markup:
 <span class="b-badge {$modifiers}"> 100 </span>
 <span class="b-badge {$modifiers}"> DANGER! </span>

 .#{$namespace}badge--default - default
 .#{$namespace}badge--info - info
 .#{$namespace}badge--success - success
 .#{$namespace}badge--error - error
 ==============================================================================*/


.#{$namespace}badge {
    @include rem(padding, 2px 4px);
    @include rem(border-radius, 3px);
    font-size: 65%;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: bold;
}



.#{$namespace}badge--default {
    color: $default;
    background-color: lighten($default, 50%);
    border-color: $default;
}



.#{$namespace}badge--info {
    color: $info;
    background-color: lighten($info, 50%);
    border-color: $info;
}



.#{$namespace}badge--error {
    color: $error;
    background-color: lighten($error, 50%);
    border-color: $error;
}



.#{$namespace}badge--success {
    color: $success;
    background-color: lighten($success, 50%);
    border-color: $success;
}


