/*==============================================================================
 Breadcrumbs



 Markup:
 <ol class="b-breadcrumbs">
 <li> <a href="#"> level 1</a> </li>
 <li> <a href="#"> level 2</a> </li>
 <li> you are here </li>
 </ol>

 #{$namespace}breadcrumbs
 ==============================================================================*/

#{$namespace}breadcrumbs {
    @include rem(margin-bottom, $verticalspace);
    list-style: none;
    margin-left: 0;
    padding: 1em;
    line-height: normal;
    overflow: hidden;
    background-color: darken($color-bg, 10%);
    color: $color-text;
}



#{$namespace}breadcrumbs__level {
    display: inline-block;
    margin-right: .5em;

    > a {
        display: inline-block;
    }

    &:last-of-type{
        &:after{
            content: normal;
        }
    }

    &:after{
        content: " \005C ";
        margin-left: .5em;
    }
}


