/*==============================================================================
 Images

 Images styling

 Markup:
 <img class="{$modifiers}" src="http://placehold.it/300/300">

 .#{$namespace}img--rounded - rounded
 .#{$namespace}img--polaroid - polaroid
 ==============================================================================*/

.#{$namespace}img {
}



.#{$namespace}img--rounded {
    border-radius: 50%;
}



.#{$namespace}img--polaroid {
    padding: 1em;
    background-color: #fff;
    border: 1px solid $color-text;
}


