//==============================================================================
// COLORS
//==============================================================================

// Base colors
$color-text:               #444;
$color-bg:                 #fff;





// Theme
$theme-green:              lighten(#444, 50%);
$theme-blue:               lighten(#444, 20%);
$theme-grey:               #ddd;





// Buttons
$btn-primary-bg:          lighten(#444, 20%);
$btn-primary-text:        darken($btn-primary-bg, 50%);
$btn-secondary-bg:        lighten(#444, 50%);
$btn-secondary-text:      darken($btn-secondary-bg, 50%);





// Errors & Messages
$default:                 #1c7285;
$success:                 adjust-hue($default, 290);
$error:                   adjust-hue($default, 170);
$info:                    adjust-hue($default, 220);




