// @TODO: See if I can abstract more code into functions

//==============================================================================
// Typography
//==============================================================================

//return em value (target/context = em);
@function em($target, $base: strip-units($basefont)) {
    // only one number
    @if type-of($target) == "number" {
        @return ($target / $base) + em;
    // more than one number
    } @else {
    // create a list to hold the ems
    $list: unquote("");
    @each $value in $target {
      // the value is 0 or auto
        @if $value == 0 or $value == 'auto' {
            $list: append($list, $value);
        } @else {
            $list: append($list, ($value / $base) + em);
        }
    }
        @return $list;
    }
}





//==============================================================================
// Helpers
//==============================================================================

// Strips units from numbers ex. n(13px); will return 13
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}










