// @TODO: Clean this file

//==============================================================================
// LAYOUT
//==============================================================================

@mixin _placeholder(){
    ::-webkit-input-placeholder {
        @content;
    }

    input:-moz-placeholder {
        @content;
    }

    input:-ms-input-placeholder {
        @content;
    }
}



@mixin _selection(){
    ::-moz-selection{
        @content;
    }

    ::selection{
        @content;
    }
}





//==============================================================================
// TYPOGRAPHY
//==============================================================================

@mixin font-face($fontname, $filename, $path, $stack: $font-stack){
    @font-face {
        font-family: #{$fontname}, $stack;
        src: url('#{$path}/#{filename}.eot');
        src: url('#{$path}/#{filename}.eot?#iefix') format('embedded-opentype'),
        url('#{$path}/#{filename}.woff') format('woff'),
        url('#{$path}/#{filename}.ttf') format('truetype'),
        url('#{$path}/#{filename}.svg#svgFontName') format('svg');
    }

    // For Chrome on Windows http://www.fontspring.com/blog/smoother-rendering-in-chrome-update
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
          font-family: #{$fontname}, $stack;
          src: url(‘#{$path}/#{$filename}.svg#svgFontName’) format(‘svg’);
      }
    }
}



// Headers & vertical rhythm
@mixin headers($size){
    @include rem(font-size, $size);
    @include rem(margin, 0 0 (strip-units($basefont) * $lineheight) * 1px );
}



// ellipsis
@mixin ellipsis{
    white-space: nowrap;
    overflow:hidden;
    -o-text-overflow:ellipsis;
    text-overflow:ellipsis;
}



// Word Wrapping
@mixin word-wrap{
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}



//==============================================================================
// UI
//==============================================================================

@mixin arrow($width: 20px, $height: 20px, $direction: up, $color: red) {

    width: 0;
    height: 0;

    // Right
    @if $direction == right {
        border-top: $height/2 solid transparent;
        border-bottom: $height/2 solid transparent;
        border-left: $width solid $color;
    }

    // Left
    @if $direction == left {
        border-top: $height/2 solid transparent;
        border-bottom: $height/2 solid transparent;
        border-right: $width solid $color;
    }

    // Up
    @if $direction == up {
        border-left: $width/2 solid transparent;
        border-right: $width/2 solid transparent;
        border-bottom: $height solid $color;
    }

    // Down
    @if $direction == down {
        border-left: $width/2 solid transparent;
        border-right: $width/2 solid transparent;
        border-top: $height solid $color;
    }
}




//==============================================================================
// HELPERS
//==============================================================================

// Baseline, measured in pixels
// The value should be the same as the font-size value for the html element

@mixin rem($property, $px-values) {
    // Convert the baseline into rems
    $baseline-rem: 16px / 1rem;

    @if $IE {
        // Print the first line in pixel values
        #{$property}: $px-values;
    } @else {
        // If there is only one (numeric) value, return the property/value line for it.
        @if type-of($px-values) == "number" {
            #{$property}: $px-values / $baseline-rem;
        }
        @else {
            // Create an empty list that we can dump values into
            $rem-values: unquote("");
            @each $value in $px-values {
            // If the value is zero, return 0
                @if $value == 0 {
                    $rem-values: append($rem-values, $value);
                } @else {
                    $rem-values: append($rem-values, $value / $baseline-rem);
                }
            }
        // Return the property and its list of converted values
        #{$property}: $rem-values;
        }
    }
}



// Animation
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content
    }
    @-moz-keyframes #{$name} {
        @content
    }
    @-ms-keyframes #{$name} {
        @content
    }
    @-o-keyframes #{$name} {
        @content
    }
    @keyframes #{$name} {
        @content
    }
}



@mixin resizable($direction: both) {
    resize: $direction; // Options are horizontal, vertical, both
    overflow: auto; // Safari fix
}



// http://codepen.io/ahmedelgabri/pen/bsIhF
@mixin auto-numbers($numbered-element, $sep, $counter: item, $nested-parent: null ){
    $sel: ();
    @if $nested-parent {
        $sel: append($sel, unquote($nested-parent));

        #{$nested-parent}{
            list-style: none;
            margin-left: 0;
        }
    }
    $sel: append($sel, unquote('&'), comma);

    #{$sel}{
        counter-reset: #{$counter};
        > #{$numbered-element}{
            &:before{
                counter-increment: #{$counter};
                content: if($nested-parent, counters(#{$counter}, "#{$sep} ") "#{$sep} ", counter(#{$counter}) "#{$sep} ") ;
            }
        }
    }
}





//==============================================================================
// RTL MIXINS
//==============================================================================
@mixin rtl{
    @if $rtl {
        html[dir="rtl"] &{
            @content;
        }
    }
}



// @TODO: Needs cleaning
@mixin flip($property, $right, $left){
    @if $property == pos {
        @if $right == 'auto'{
            right: auto;
            @include rem(left, $left);
        } @elseif $left == 'auto' {
            left: auto;
            @include rem(right, $right);
        } @else {
            @include rem(left, $left);
            @include rem(right, $right);
        }
    } @else {
        @include rem(#{$property}-right, $right);
        @include rem(#{$property}-left, $left);
    }
}





//==============================================================================
// DEBUG
//==============================================================================

@mixin debug-display{
    @if $debug {
        display: normal !important;
    } @else {
        display: none;
    }
}



//@FIX ME: Mixin this

// //Reusable icons
// .icon {
//     display:inline-block;
//     width:16px;
//     height:16px;
//     margin:0 5px 0 0;
//     background:url(l);
// }

// .icon-a {
//     background-position:0 0;
// }





//==============================================================================
// MEDIA QUERIES http://alwaystwisted.com/post.php?s=2013-04-01-my-media-query-mixin
//==============================================================================

@mixin mq($point, $query1: min, $query2: width) {
    @if $MQ {
        @media screen and (#{$query1}-#{$query2}: $point / 16 +em) {
            @content;
        }
    } @else {
        @content;
    }
}



@mixin orient($orientation: landscape) {
    @media (orientation : $orientation) {
        @content;
    }
}



// Retina
// https://gist.github.com/madrobby/2997187
// @mixin mq-retina{
//     @media (min--moz-device-pixel-ratio: 1.5),
//     (-o-min-device-pixel-ratio: 3/2),
//     (-webkit-min-device-pixel-ratio: 1.5),
//     (min-device-pixel-ratio: 1.5),
//     (min-resolution: 1.5dppx){
//         @content;
//     }
// }



@mixin mq-retina{
    @media
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 192dpi) {
        /* Retina-specific stuff here */
    }
}



// RETINA BGs

@mixin hidpi($image: null, $extension: png, $width: null, $height: null, $retina-config: null) {
    @if $image {
        background-image: url(#{$img-path}#{$image}.#{$extension});
    }
    @include mq-retina(){
        background-image: url(#{$img-path}#{$image}@2x.#{$extension});
        -webkit-background-size: $width $height;
        background-size: $width $height;
    }
}



// Element Query
// https://github.com/filamentgroup/scoped-media-query

@mixin respond-to($queries...) {
    $length: length($queries);
    @for $i from 1 through $length{
        @if $i % 2 == 1 {
            @media #{nth($queries, $i)} {
                #{nth($queries, $i+1)} {
                  @content;
                }
            }
        }
    }
}



// http://codepen.io/thomasdobber/pen/DctbF
// variable helper function: add a breakpoint to $breakpoints
@function add-breakpoint($name, $range) {
  $breakpoints: () !global !default;
  $breakpoints: append( $breakpoints, ($name, $range) ) !global;
  @return $breakpoints;
}

// vaiable: define breakpoints
$breakpoints: add-breakpoint('wrist', 0px 320px);
$breakpoints: add-breakpoint('palm', 320px 480px);
$breakpoints: add-breakpoint('lap', 480px 800px);
$breakpoints: add-breakpoint('portable', 0px 800px);
$breakpoints: add-breakpoint('desk', 800px 1280px);
$breakpoints: add-breakpoint('desk-wide', 1280px 2060px);

// the mixin
@mixin breakpoint($name){

  @each $breakpoint in $breakpoints {

    $breakpoint-name:  nth($breakpoint, 1);
    $breakpoint-range: nth($breakpoint, 2);
    $breakpoint-start: nth($breakpoint-range, 1);
    $breakpoint-end:   nth($breakpoint-range, 2);

    @if "#{$name}" == "#{$breakpoint-name}" {
      @if strip-units($breakpoint-start) == 0 {
        @media only screen and ( max-width: em($breakpoint-end)) { @content; }
      } @else {
        @media only screen and ( min-width: em($breakpoint-start)) and ( max-width: em($breakpoint-end)) { @content; }
      }

    } @else if "#{$name}" == "#{$breakpoint-name}-and-up" {
      @if strip-units($breakpoint-start) == 0 {
        @content;
      } @else {
        @media only screen and ( min-width: em($breakpoint-start)) { @content; }
      }

    } @else if "#{$name}" == "#{$breakpoint-name}-and-down" {
      @media only screen and ( max-width: em($breakpoint-end)) { @content; }
    }
  }
}


