//==============================================================================
// FORMS
//==============================================================================


// COMPONENT VARIABLES
// -----------------------------------------------------------------------------

$fieldPadding: .5em;
$fieldBorderColor: #ccc;





// BASIC FORM STYLING
// -----------------------------------------------------------------------------

legend {
    display:table; // Enable line-wrapping in IE8+
    white-space:normal; // Enable line-wrapping in old versions of some other browsers
}



input,
textarea,
button,
select {
    margin: 0;
    font-size: 100%;
    font-family: $font-stack;
    line-height: normal;
    vertical-align: baseline;
}



label,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"],
button {
    cursor: pointer;
}



input,
button{
    &::-moz-focus-inner{
        padding: 0;
        border: 0;
    }
}



[disbaled]{
    cursor: default;
}



input[type="search"] {
    -webkit-appearance : textfield;

    &::-webkit-search-decoration {
        display : none;
    }

    &::-webkit-search-cancel-button {
        cursor: pointer;
    }
}




@include _placeholder{
};



select{
    cursor: pointer;
}



textarea {
    @include resizable(vertical);
    min-height: 6em;
}



input[type="checkbox"],
input[type="radio"]{
    @include rem(margin-right, 5px);
    @include rtl{
        margin-right: 0;
        @include rem(margin-left, 5px);
    }
}



input[type="color"]{
}



input[type="range"]{
}



input[type="image"]{
}



input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"]{
}



input[type="tel"],
input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
select,
textarea{
    width: 100%;
}



input[type="tel"],
input[type="number"],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
textarea,
.b-form__field,
.b-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius:0;
    border: 1px solid $fieldBorderColor;
    padding: $fieldPadding;
    box-shadow: inset 0 .15em .15em rgba($fieldBorderColor, .5);

    &:hover{

    }

    &:focus{

    }
}



input[type="submit"],
button{
}




input[type="reset"]{
}





// BLANK FORM COMPONENTS
// -----------------------------------------------------------------------------

// Forms
//
// Styling for forms & form related elements like, <legend>, <fieldset>.
//
// Markup:
// <form class="b-form">
//
// </form>
//
// .b-form    - Generic class for forms

.b-form{
    &,
    fieldset{
        @include rem(margin-bottom, $verticalspace);
    }

    > :last-child,
    > :last-child > :last-child {
        margin-bottom: 0;
    }
}



// Form Holder
//
// The wrapper that holds form input & labels, can be whatever element.
//
// Markup:
// <div class="b-form__holder">
//    Form elements here
// </div>
//
// .b-form__holder

.b-form__holder{
    @include rem(margin-bottom, $verticalspace);
}



// Form field
//
// The form field itself, textfields, select, textarea
//
// Markup:
// <input class="b-form__field">
//
// .b-form__field

.b-form__field{
}

.b-form__list{
}



// Inline Form
//
// Markup:
// <form class="b-form">
//     <ul class="b-form--inline">
//
//      </ul>
// </form>
//
// .b-form--inline

.b-form--inline{
    list-style:none;
    margin-left:0;
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;

    > .b-form__holder {
        letter-spacing: normal;
        text-rendering: auto;

        @include mq($mq-medium){
            margin-bottom: 0;
            padding-right: $grid-gutter;
            &:last-of-type{
                padding-right: 0;
            }
            display: inline-block;
            vertical-align: top;
        }

    }

    .b-btn-group{
        @include mq($mq-medium){
            margin-bottom: 0;
        }
    }
}


// Full width form
//
// Markup:
// <form class="b-form">
//     <ul class="b-form--full">
//
//     </ul>
// </form>
//
// .b-form--full

.b-form--full{
    list-style:none;
    margin-left:0;
    width: 100%;
    display: table;

    > .b-form__holder {

        @include mq($mq-medium){
            margin-bottom: 0;
            padding-right: $grid-gutter;
            &:last-of-type{
                padding-right: 0;
            }
            display: table-cell;
            vertical-align: top;
        }
    }
}





// CUSTOM FORM ELEMENTS
// -----------------------------------------------------------------------------

// Custom select
//
// Select element with custom styling
//
// Markup:
// <select class="b-select">
// </select>
//
// .b-select



.b-select{
    padding: $fieldPadding/2 $fieldPadding;
    box-shadow: 0 .15em .15em rgba($fieldBorderColor, .5);
    background-repeat: no-repeat;
    background-position: right 50%;
    background-image: url(../img/select-arrow.svg);
    -webkit-background-size: 11px 41%;
    background-size: 11px 41%;

    // https://gist.github.com/joaocunha/6273016
    @-moz-document url-prefix() {
      select {
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: "";
      }
    }

    .no-svg &{
        background-image: url(../img/select-arrow.png);
    }

    &:hover,
    &:focus{

    }
}



// Custom toggles
//
// Custom checkboxes & radio buttons in a toggle like shape
//
// Markup:
// <label class="b-toggle">
//     <input class="b-toggle__switch" type="radio|checkbox">
//     <span> Label Text </span>
// </label>
//
// .b-toggle            - on the wrapping label
// .b-toggle__switch    - on the input itself {radio|checkbox}



%toggle {
    display: inline-block;
    vertical-align: top;
    @include rem(font-size, 14px);
}



%toggle__switch {
    &:checked,
    &:not(:checked){
        @extend .h-visuallyhidden;
    }

    + span{
        position: relative;
        display: inline-block;

        &:before,
        &:after{
            line-height: 1;
            height: 1.7em;
        }

        &:before{
            content: "Off";
            display: inline-block;
            margin-right: .5em;
            background-color: lighten($color-text, 30%);
            width: 5em;
            text-align: right;
            padding: .3em .6em;
            color: $color-bg;
        }

        &:after{
            content: "";
            position: absolute;
            display: block;
            width: 2.5em;
            background-color: $error;
            top:0;
            left:0;
            transition: left 75ms ease-in-out, background 75ms ease-in-out;
        }
    }


    &:checked{
        + span{
            color: $success;
            &:before{
                content: "On";
                text-align: left;
            }

            &:after{
                left: 2.5em;
                background-color: $success;
            }
        }
    }
}



%custom-checkbox{
    display: inline-block;
    vertical-align: top;
}



%custom-checkbox__input{
    @extend .h-visuallyhidden;

    + span{
        position: relative;
        display: inline-block;

        &:before{
            @include rem(width, 25px);
            @include rem(height, 25px);

            content: "";
            display: inline-block;
            vertical-align: top;
            border: 2px solid #eee;
            border-radius: 4px;
            margin-right: .5em;
        }
    }


    &:checked{
        + span{
            &:before {
                border-color: #35bcaf;
            }
            &:after{
                @include rem(width, 25px);
                @include rem(height, 25px);
                @include rem(left, 1px);
                @include rem(top, -2px);

                position: absolute;
                content: "";
                background-image: url('/static/assets/images/checkbox-tick.png');
                background-repeat: no-repeat;
                background-position: 50% 50%;
                -webkit-background-size: 25px;
                background-size: 25px;
            }
        }
    }
}



.b-toggle {
    @extend %toggle;
}



.b-toggle__switch {
    @extend %toggle__switch;
}





// FORM MESSAGES
// -----------------------------------------------------------------------------

// Form Messages
//
// Error, Succes or info messages in forms
//
// Markup:
// <form class="b-form">
//     <ul>
//         <li class="b-form__holder bl-form__message--error|success">
//             <label>Label</label>
//             <input>
//             <span class="b-form-message">Message</span>
//         </li>
//     </ul>
// </form>
//
// .b-form__message--error|success   - remove the class for an info message
// .b-form__message

.b-form__message{
    font-size: 75%;
    padding: .5em;
    display: block;
}



.b-form__message--error{
    > label,
    > .b-form__field,
    > .b-form__message{
        color: $error;
        border-color: $error;
    }

    > .b-form__field{
        &::-webkit-input-placeholder {
            color: $error;
        }

        &:-moz-placeholder {
            color: $error;
        }

        &:-ms-input-placeholder {
            color: $error;
        }
    }

    > .b-form__message{
        background-color: lighten($error, 50%);
    }
}



.b-form__message--success{
    > label,
    > .b-form__field,
    > .b-form__message{
        color: $success;
        border-color: $success;
    }

    > .b-form__field{
        &::-webkit-input-placeholder {
            color: $success;
        }

        &:-moz-placeholder {
            color: $success;
        }

        &:-ms-input-placeholder {
            color: $success;
        }
    }

    > .b-form__message{
        background-color: lighten($success, 50%);
    }
}


