//==============================================================================
// $ GENERIC HELPER CLASSES & PLACEHOLDERS
//==============================================================================

//==============================================================================
// $CLASSES
//==============================================================================
.h-visuallyhidden{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.h-break {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}


.h-ellipsis {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis; // Required for IE8
    -o-text-overflow: ellipsis; // Required for Opera
    text-overflow: ellipsis;
}

.h-ir,
%h-ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    border: 0;
}

.h-center-inline{
    text-align: center;
}

.h-right-inline{
    text-align: right;
}

.h-left-inline{
    text-align: left;
}

.h-flat-bottom{
    margin-bottom: 0;
}

//==============================================================================
// $PLACEHOLDERS
//==============================================================================

.h-clearfix,
%h-clearfix{
    &:after{
        content:"";
        display:table;
        clear: both;
    }

    // IE 6/7
    // @if $IE{
    //     *zoom: 1;
    // }
}

//==============================================================================
// $RTL HELPERS
//==============================================================================

%fl{
    float:left;
}

%fr{
    float:right;
}

%fn{
    float:none;
}

%tr{
    text-align:right;
}

%tl{
    text-align:left;
}

%dr{
    direction:rtl;
}

%dl{
    direction:ltr;
}
