//==============================================================================
//  GENERIC HELPER CLASSES & PLACEHOLDERS
//==============================================================================

// HELPER CLASSES
// -----------------------------------------------------------------------------

.h-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



.h-break {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}



.h-ellipsis {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis; // Required for IE8
    -o-text-overflow: ellipsis; // Required for Opera
    text-overflow: ellipsis;
}



.h-ir,
%h-ir {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    border: 0;
}



.h-inline-center {
    text-align: center;
}



.h-inline-end {
    text-align: right;
}



.h-inline-start {
    text-align: left;
}




.h-f-start {
    float: left;
}



.h-f-end {
    float: right;
}



.h-f-none {
    float: none;
}



.h-dir-left {
    direction: ltr;
}



.h-dir-right {
    direction: rtl;
}



// @TODO: extract this into spacing?
.h-flat-bottom {
    margin-bottom: 0;
}





// PLACEHOLDERS
// -----------------------------------------------------------------------------

.h-clearfix,
%h-clearfix{
    &:after{
        content:"";
        display:table;
        clear: both;
    }
}



