/*==============================================================================
Links

Links styling

Markup:
<a href="#" class="{$modifiers}"> Link </a>

:hover - Hover state
:active - active state
:focus - focus state
:visited - visited state
==============================================================================*/

a {
    -webkit-tap-highlight-color: $tabhighlight;
    color: $linkColor;

    &:visited {

    }

    &:hover,
    &:active {
        outline: 0;
    }

    &:hover,
    &:focus {
        color: $linkColorHover;
    }

    &:focus,
    &:active {
    }

    &:focus {
        outline: thin dotted;
    }

    &#{$namespace}block-link {
        display: block;
        color: inherit;
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }
}


