/*
Links

Links styling

Markup:
<a href="#" class="{$modifiers}"> Link </a>

:hover - Hover state
:active - active state
:focus - focus state
:visited - visited state
*/

//==============================================================================
// $Component variables
//==============================================================================
$linkColor:               red;
$linkColorHover:          green;
$tabhighlight:            rgba(200,0,0,0.4);

a {
    -webkit-tap-highlight-color: $tabhighlight;
    color:$linkColor;

    &:visited{

    }

    &:hover,
    &:focus{
        color:$linkColorHover;
    }

    &:focus,
    &:active{
    }

    &:focus{
        outline: thin dotted;
    }

    &.bl-block-link{
        display: block;
        color: inherit;
        &:hover{
            text-decoration: none;
            color: inherit;
        }
    }
}
