//==============================================================================
// LISTS
//==============================================================================

/*
Lists

List styling: ordered, unordered & defination lists.
*/

/*
[Un]Ordered lists

Markup:
<ol|ul class="{$modifiers}">
 <li>item1</li>
 <li>item2</li>
 <ol|ul>
      <li>nested item1</li>
      <li>nested item2</li>
 </ol|ul>
</ol|ul>

.bl-list--numbered      - Automatic numbering for multi-levels deep **Must be used with `.bl-list--reset`**
.bl-list--reset         - can be added on ordered or unordered lists to reset it's styling.
*/



ol{
    list-style: decimal;
    @include rem(margin-bottom, $verticalspace);
// @include rtl{ //@NOTE: If needed.
//   list-style: arabic-indic;
// }
}



ul{
    list-style: square;
    @include rem(margin-bottom, $verticalspace);
}



ul,
ol{
    padding-left:1em;

    ol,
    ul{
        margin: .5em 0 .5em .5em;
    }
}



li{
    line-height:$lineheight;

    + ul,
    + ol{}
}





//==============================================================================
// Modifires classes
//==============================================================================

.bl-list--reset{
    list-style: none;
    padding: 0;
    margin: 0;
}



.bl-list--numbered{
    @include auto-numbers(li,".", item, ul);
}



/*
Definition lists

Markup:
<dl>
  <dt>Definition term<dt>
  <dd> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, saepe, ab quo obcaecati a rerum quis quod vel autem nam maxime temporibus magni unde et nulla molestias veniam libero explicabo. </dd>
</dl>
*/



dl{
    @include rem(margin, 0 0 $verticalspace);
}



dt{
    font-weight: bold;
}



dd{
    @include rem(margin, 0 0 $verticalspace);
}



dt,
dd{
    > :last-child,
    > :last-child > :last-child {
        margin-bottom: 0;
    }
}


