//==============================
// $MEDIA
//===============================

// Global

img,
object,
embed{
    max-width : 100%;
    height: auto;
}

img {
    font-style: italic;
    color: $error;
    -ms-interpolation-mode: bicubic;

    a & {
        border:none;
    }
}

//==============================
// $Figure
//==============================

figure{
    @include rem(margin, 0 0 $verticalspace);
}

figcaption{
    font-style: italic;
    @include rem(font-size, 12px);
}


//==============================
// $Video
//==============================

//==============================
// $Responsive Videos/Embeds
// http://alistapart.com/article/creating-intrinsic-ratios-for-video
//==============================

.bl-embed-wrapper{
    position: relative;
    display: block;
    height: 0;
    @include rem(margin-bottom, $verticalspace);

    &.bl-embed--widescreen{
        padding-top: 56.25%;
    }

    &.bl-embed--fourbythree{
        padding-top: 75%;
    }

    > div,
    > embed,
    > object,
    > iframe,
    > video{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

video{
    width: 100%;
    max-width: 100%;
    @include rem(margin-bottom, $verticalspace);
}


//==============================
// $Audio
//==============================
audio{
    &:not([controls]) {
        display: none;
    }
}


